#background {
	background-color: green;
	height: 500px;
	width: 700px;
	position: relative;
}

#bttStart {
	position: absolute;
	color: grey;
	text-align: center;
	border-radius: 20px;
	color: black;
	background-color: yellow;
	width: 200px;
	height: 80px;
	font-size: 200%;
	z-index: 3;
	margin: 0 auto;
}