#background {
	background-color: #0098FF;
	height: 500px;
	width: 500px;
	position: relative;
	overflow: hidden;
}
#speed {
	position: relative;

}

#score {
position: relative;
}
#bttStart {
	position: absolute;
	color: grey;
	text-align: center;
	border-radius: 20px;
	color: black;
	background-color: green;
	margin: 130px 210px;
	width: 80px;
	height: 50px;
	font-size: 100%;
	z-index: 20;

}

#playerCar {
	position: absolute;
	height: 40px;
	width: 20px;
	bottom: 60px;
	left: 250px;
	border-radius: 5px;
	background-image: url('../car4.jpg');
	background-size: cover;
	z-index: 11;
}

.obstacles {
	position: absolute;
	height: 40px;
	width: 20px;
	top: 0px;
	left: 250px;
	border-radius: 5px;
	background-image: url('../car3.png');
	background-size: cover;
	z-index: 12;
}

#tree1 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 0px;
	left: 50px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

#tree3 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 135px;
	left: 50px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

#tree5 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 270px;
	left: 50px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

#tree2 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 0px;
	left: 360px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

#tree4 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 135px;
	left: 360px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

#tree6 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 270px;
	left: 360px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

.road {
	position: relative;
	height: 500px;
	width: 200px;
	bottom: 0;
	left: 150px;
	background-color: #FFFEA2;
	z-index: 10;
	overflow: hidden;
}
